
.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.full-screen {
	width: 100vw;
	height: 100vh;
}

.parallax-image {
	// background-image: url("https://source.unsplash.com/1vv8nw62z0E/2400x1595");
	background-image: url("https://source.unsplash.com/random");
	background-repeat: no-repeat;
	height: 100vh;
	width: 100%;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	display: flex;
}

.image-section-container {
	h1, h3 {
		color: rgba(220, 220, 220, 1);
	}
}

.image-info {
	
}

.image-header {
	
}

.my-work-title {
	padding-top: 30px;
	padding-bottom: 30px;

	a {
		font-size: 16px;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	border-bottom: 1px solid rgba(220, 220, 220, 0.6)
}

.my-work {
	background-color: #222;

	color: white;
	font-family: "Open Sans", sans-serif;
	font-size: 18px;
}

.my-work-description {
	font-size: 16px;
	padding-top: 40px;
	padding-bottom: 40px;
}

// 3 highlight project cards
.my-work-projects {

}

.container-center {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: 15%;
	margin-left: 15%;
	padding-top: 40px;
	padding-bottom: 40px;
}
