
.about-section {
	background-color: #fff;
	color: #222;
	font-family: "Open Sans", sans-serif;
	font-size: 18px;
}

.about-icons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

.icon-wrapper {
	margin: 3rem 0 3rem 0;
	width: auto;
	justify-content: center;
	img {
		width: 60%;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

.icon-title, .icon-subtitle {
	text-align: center;
}
.icon-title {
	font-size: 18px;
	font-weight: 600;
}

.icon-subtitle {
	font-size: 15px;
	font-weight: normal;
}

.about-me-card {
	background-color: #fff;
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: row;
	box-shadow: 0px 0px 12px 12px rgba(15, 15, 15, 0.2);

	.portrait-column {
		padding: 0px;
		width: 35%;
		background: #222;
		img {
			width: 100%;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
		.portrait-about-me-title {
			color: white;
			text-align: center;
			margin-top: 10px;
		}
		.portrait-about-me {
			width: 90%;
			color: rgba(255, 255, 255, 0.719);
			margin: 15px;
			font-size: 15px;
			text-align: center;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
	}

	.about-me-topics {
		display: flex;
		flex-direction: column;
		width: 65%;
		
		.technologies-languages-title, .skills {
			text-align: center;
			background-color: rgb(85, 85, 85);
			width: 100%;
			color: white;
		}
	}
}

@media screen and (max-width: 768px) { 
	.about-icons {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 100%;
	}

	.icon-wrapper {
		margin: 1rem 0 1rem 0;
		width: auto;
		justify-content: center;
		img {
			width: 30%;
		}
	}

	.about-me-card {
		background-color: #fff;
		width: 100%;
		height: auto;
		display: flex;
		flex-direction: column;
		box-shadow: 0px 0px 12px 12px rgba(15, 15, 15, 0.2);
	
		.portrait-photo {
			padding: 10px;
			width: 30%;
			img {
				width: 100%;
			}
		}
	
		.about-me-topics {
			display: flex;
			flex-direction: column;
		}
	}
}

.about-description {
	font-size: 16px;
	padding-top: 40px;
}