
.contact-section {
	background-color: rgb(25, 29, 41);
}

.contact-footer-svg {
	position: absolute;
	top: 0;
	left: 0;
	height: 75;
	width: 100%;
}

.svgcolor-light {
	background: rgb(25, 29, 41);
	margin-bottom: 3rem;
}

.form-header {
	color: #fff;
}
#contact-section-title {
	color: #fff;
}

.contact-area {
	display: flex;
	flex-direction: row;
	padding-bottom: 10rem;
}

.contact-form {
	display: flex;
	flex-direction: column;
	align-content: center;
	width: 50%;
	height: 80%;
	margin: 0 auto;
	font-family: "Ubuntu", sans-serif;
	background-color: rgb(25, 29, 41);
	padding: 3rem 0;

	.form-header {
		margin: 30px 10px;
	}

	.contact-input {
		font-family: "Ubuntu", sans-serif;
		max-width: 80%;
		width: 80%;
		margin: 2px 10px;
		padding: 10px;
		border: none;
		border-bottom: 1px solid rgb(231, 231, 231);
		background-color: rgb(231, 231, 231);
		height: 2rem;
		font-size: 11pt;
		transition: 300ms all ease;

		&::placeholder {
			color: rgb(53, 56, 65);
		}

		&:focus {
			outline: none;
			border-bottom: 2px solid rgb(219, 36, 106);

		}	
	}

	.contact-text-area {
		font-family: "Ubuntu", sans-serif;
		max-width: 80%;
		width: 80%;
		color: rgb(179, 179, 179);
		margin: 2px 10px;
		padding: 10px;
		font-size: 11pt;
		border: none;
		border-bottom: 1px solid  rgb(231, 231, 231);
		background-color:  rgb(231, 231, 231);
		height: 2rem;
		transition: 300ms all ease;	
		min-height: 150px;
		margin-bottom: 5px;

		&::placeholder {
			color: rgb(53, 56, 65);
		}
		
		&:focus {
			outline: none;
			border-bottom: 3px solid rgb(219, 36, 106);
		}
	}

	.submit-button {
		width: 25%;
		height: 2rem;
		align-self: flex-start;
		margin: 20px 10px;
		font-size: 13pt;
		background-color: white;
		border: 2px solid rgb(219, 36, 106);
		color: rgb(219, 36, 106);
		padding: 0.2rem;
		border-radius: 2px;
		transition: all 200ms ease-in-out;

		&:hover {
			background-color: rgb(219, 36, 106);
			color: white;
		}
		&:focus {
			outline: none;
		}
	}

}

// MY INFO CARD
.my-info {
	font-family: "Ubuntu", sans-serif;
	font-size: 14pt;
	color: rgb(49, 49, 49);
	background: white;	
	box-shadow: 0px 0px 25px 25px rgba(15, 15, 15, 0.2);
	width: 40%;
	text-align: center;
	letter-spacing: 2px;
	display: flex;
	flex-direction: column;
	justify-content: center;

	.text-container {
		margin: 20px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		color: rgb(49, 49, 49);
		min-height: calc(100% - 10rem);

		.info-title {
			margin: 25px;
		}
	}

	.connected-container {
		background-color: #222;
		min-height: 10rem;
		.connected-title {
			color: #fff;
			margin: 20px;
		}

		.links-container {
			display: flex;
			flex-direction: row;
			justify-content: center;

			.connected-main-link {
				display: block;
				margin: auto;
			}
		}
	}

}

@media screen and (max-width: 768px) {
	.section-title {
		width: 30%;
	}
	.contact-area {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.contact-form {
		width: 100%;
		padding-top: 0;
		align-self: center;
		align-items: center;
		justify-content: center;

		.anim-div {
			width: 100%;
		}

		.form-header {
			max-width: 100%;
			margin: 15px 2px;
		}

		.contact-input {
			width: 100%;
			max-width: 100%;
			margin: 2px 0;
		}

		.contact-text-area {
			width: 100%;
			max-width: 100%;
			margin: 2px 0;
		}

		.submit-button {
			margin: 4px 0;
		}

	}

	

	.my-info {
		width: 95%;
		align-items: center;
		align-self: center;
		margin: 0;
		padding: 0px;

		.connected-container {
			width: 100%;
		}
	}
}