.homepage {
	width: 100%;
}

.center {
	// position: absolute;
	// top: 50%;
	// left: 50%;
	// transform: translate(-50%, -50%);
	display: block;
	margin: auto;
}

.landing-image-section {
	width: 100%;
	height: 100vh;
}

.full-screen {
	width: 100%;
	height: 100vh;
}

.parallax-image {
	// background-image: url("https://source.unsplash.com/1vv8nw62z0E/2400x1595");
	// background-image: url("https://source.unsplash.com/featured/?{city}");
	// background-image: url("https://source.unsplash.com/lZXyGjsRnP0/2400x1800");
	background-image: url("https://source.unsplash.com/WOYJawECYIA/2400x1800");
	// background-image: url("https://source.unsplash.com/TGonIT5YeIQ/2400x2999");
	background-repeat: no-repeat;
	height: 100vh;
	width: 100%;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	display: flex;
}

.highlight {
	color: rgb(223, 43, 127) !important;
}

.image-section-container {
	font-weight: 600;
	.hello-text {
		text-align: center;
		color: rgb(42, 37, 70);
		// color: white;
		font-size: 28pt;
	}
}

.main-links {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 30px;
}

.front-icon {
	background-color: rgb(36, 37, 48);
	padding: 10px;
	transition: 100ms all ease-in-out;
	img {
		filter: invert(100%);
		width: 1.6rem;
		height: auto;
	}

	&:hover {
		transform: scale(0.9);
		background-color: rgb(120, 128, 247);
	}
}

.image-info {
	
}

.image-header {
	
}

.navbar-section {

}

.section-title {
	padding-top: 30px;
	padding-bottom: 30px;
	width: 25%;
	text-align: center;

	a {
		font-size: 20px;
		letter-spacing: 1px;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.section-title-underline {
		width: 30%;
		margin: 10px auto;
		background-color: rgba(109, 109, 109, 0.6);
		height: 2px;
	}
}
