*{
	padding: 0px;
	box-sizing: border-box;
	margin: 0px;
}

nav {
	width: 100%;
	display: flex;
	// justify-content: space-around;
	// justify-content: space-between;
	align-items: center;
	min-height: 6vh;
	background-color: rgb(41, 41, 61);
	border-bottom: 2px solid rgba(220, 220, 220, 0.4);
	z-index: 2230 !important;

	.nav-link {
		font-family: "Asap", sans-serif;
		text-decoration: none;
		font-weight: bold;
		font-size: 16px;
		color: white;
		cursor: default;
		padding: 10px 18px 10px 18px;
		transition: 180ms all ease-in-out;
		&:hover {
			color: rgb(161, 34, 98);
		}
	}
}


nav .active {
	color: rgb(161, 34, 98) !important;
}

.nav-link-bar {

}

.nav-left {
	display: flex;
	align-items: center;
	// justify-content: space-around;
	width: auto;
	margin-left: 8%;
}

.nav-logo {
	color: rgb(255, 255, 255);
	font-size: 16px;
	letter-spacing: 1px;
	width: auto;
}

.nav-links {
	display: flex;
	justify-content: space-around;
	width: 80%;
	text-decoration: none;
	z-index: 200;

	a {
		text-decoration: none;
		color: white;
		letter-spacing: 1px;
		font-weight: bold;
		font-size: 14px;

		&:hover {
			background-color: rgba(220, 220, 220, 0.4);
		}
	}

	li {
		list-style: none;
	}
	
}

.burger {
	transition: 200ms all ease-in-out;
	display: none;
	cursor: pointer;
	z-index: 1005;
	
	&:hover {
		div {
			background-color: rgb(170, 170, 170);
		}
	}

	div {
		width: 1.5rem;
		height: 2px;
		background-color: white;
		margin: 5px;
		transition: 100ms all ease-in-out;

		&:hover {
			background-color: rgb(170, 170, 170);
		}
	}
}

// Mobile support.

@media screen and (max-width: 768px) { 

	body {
		overflow-x: hidden;
	}

	.nav-links {
		position: absolute;
		top: 0px;
		left: 0px;
		height: 100vh;
		background-color: rgba(105, 105, 105, 0.8);
		margin: 0px;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 40%;
		transform: translateX(-100%);
		transition: transform 0.3s ease-in;

		li {
			transition: opacity 0.3s ease-in;
			opacity: 0;
		}

		a {
			transition: padding 0s;
			// padding: 50px 100px; makes nav-links move when switching between mediaquery
		}
	}
	
	.burger {
		display: block;
	}
}

.nav-active {
	transform: translateX(0%);
}

@keyframes navLinkFade {
	from {
		opacity: 0;
		transform: translateX(-50px);
	}
	to {
		opacity: 1;
		transform: translateX(0px);
	}
}

.toggle .line1 {
	transform: rotate(-90deg) translate(-2px, 8px);
}
.toggle .line2 {
	transform: rotate(90deg) translate(-5px, 0px);
}
.toggle .line3 {
	transform: rotate(90deg) translate(-12px, 8px);
}