@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');
body, html, #root, .app, .container {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

.hidden {
	display: none;
	opacity: 0;
}

.nav-logo {
	width: 20%;
	height: 20%;
}